body
{
width: 1024px;
height: 9785px;
}

header
{
width: 1024px;
height: 831px;
background: url('images/header/1024px/header.png');
}

footer
{
  width: 1024px;
  height: 88px;
  top: 9697px;
}

.choose_tour_block
{
  width: 1024px;
  height: 1871px;
  left: 0px;
  top: 966px;
}

.compile_tour_block
{
width: 1024px;
height: 1225px;
left: 0px;
top: 2972px;
}

.feedback_block
{
width: 1024px;
height: 1173px;
left: 0px;
top: 4332px;
}

.foto_block
{
width: 1024px;
height: 1222px;
left: 0px;
top: 5640px;
}

.stories_block
{
width: 1024px;
height: 2060px;
left: 0px;
top: 6997px;
}

.cta
{
width: 771px;
height: 370px;
left: 126.5px;
top: 9192px;
}

.header_top_block
{
width: 1024px;
height: 88px;
}

.header_btm_block
{
width: 1024px;
height: 743px;
left: 0px;
top: 88px;
}

.header_menu_block
{
width: 910px;
height: 30.24px;
left: 57px;
top: 28.88px;
}

.logo_block
{
width: 181.84px;
height: 30.24px;
left: 0px;
top: 0px;
background: url('images/header/1024px/YourTour.png')
}

nav
{
width: 408px;
height: 28px;
left: 264.42px;
top: 1.12px;
}

.tour:hover
{border-bottom: none;}

a.compile
{
width: 114px;
height: 28px;
left: 78px;
top: 0px;
}
.compile:hover
{border-bottom: none;}

a.feedback
{
width: 76px;
height: 28px;
left: 222px;
top: 0px;
}

.feedback:hover
{border-bottom: none;}

a.stories
{
width: 80px;
height: 28px;
left: 328px;
top: 0px;
}

.stories:hover
{border-bottom: none;}

a.tel
{
width: 155px;
height: 28px;
left: 755px;
top: 1.12px;
font-size: 20px;
line-height: 142%;
order: 2;
}

.tel:hover
{border-bottom: none;}

h1
{
width: 914px;
height: 315px;
left: 55px;
top: 119px;
font-size: 96px;
line-height: 109%;
}

.header_btm_block p
{
width: 442px;
height: 56px;
left: 291px;
top: 484px;
font-size: 20px;
}

.header_find_btn
{
  width: 118px;
  height: 34px;
  left: 453px;
  top: 590px;
}

.header_find_btn a
{
width: 78px;
height: 24px;
font-size: 17px;
line-height: 142%;
}

.choose_top_block
{
  width: 700px;
  height: 142px;
  left: 162px;
}

.choose_top_block h2
{
width: 473px;
height: 73px;
left: 113.5px;
font-size: 59px;
line-height: 124%;
letter-spacing: normal;
}

.choose_card_block
{
width: 1024px;
height: 1629px;
}

.choose_tab_block
{
flex-direction: row;
width: 700px;
height: 34px;
left: calc(50% - 700px/2);
top: 108px;
}

.pop_block
{
width: 137px;
height: 34px;
}

.auth_block
{
width: 117px;
height: 34px;
left: 167px;
}

.exp_block
{
width: 87px;
height: 34px;
left: 314px;
}

.raft_block
{
width: 86px;
height: 34px;
left: 431px;
}

.cycle_block
{
  width: 153px;
  height: 34px;
  left: 547px;
  }

  .pop_block a
  {

  width: 137px;
  height: 28px;
  font-size: 23px;
  line-height: 122%;
  }

  .auth_block a
  {
  width: 117px;
  height: 28px;
    font-size: 23px;
  line-height: 122%;
  }

  .exp_block a
  {
  width: 87px;
  height: 28px;
  font-size: 23px;
  line-height: 122%;
  }

  .raft_block a
  {
  width: 86px;
  height: 28px;
  font-size: 23px;
  line-height: 122%;
  }

  .cycle_block a
  {
  width: 153px;
  height: 28px;
  font-size: 23px;
  line-height: 122%;
  }

  .choose_card_block
  {
  width: 1170px;
  height: 1092px;
  left: 0px;
  top: 242px;
  }

.card_1
{
width: 450px;
height: 531px;
left: 53px;
top: 0px;
flex-grow: 1;
}

.card_1_img
{
background:linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),url('images/choose_tour/1024px/card tour photo-1.png');
}

.card_1_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_1_title h3
{
width: 350px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
letter-spacing: normal;
}

.card_1_title p
{
width: 350px;
height: 24px;
top: 59px;
font-size: 17px;
}

.card_btm
{
  width: 199px;
  height: 42px;
  left: 30px;
  top: 446px;
}

.card_btm a
{
  width: 120px;
  height: 28px;
  left: 20px;
  top: 7px;
}

.card_arrow
{
left: 156px;
top: 13.5px;

}

.card_2
{
width: 450px;
height: 531px;
left: 521px;
top: 0px;
}


.card_2_img
{
background:linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('images/choose_tour/1024px/card tour photo-2.png');
}

.card_2_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_2_title h3
{
width: 350px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
letter-spacing: inherit;
}

.card_2_title p
{
width: 350px;
height: 24px;
left: 0px;
top: 59px;
font-size: 17px;
}

.card_3
{
width: 450px;
height: 531px;
left: 53px;
top: 549px;
border-radius: 50px;
overflow: hidden;
/* Inside Auto Layout */
order: 0;
flex-grow: 1;
}

.card_3_img
{
background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('images/choose_tour/1024px/card tour photo-3.png');
}

.card_3_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_3_title h3
{
width: 350px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.card_3_title p
{
width: 350px;
height: 24px;
left: 0px;
top: 59px;
font-size: 17px;
}

.card_4
{
width: 450px;
height: 531px;
left: 521px;
top: 549px;
border-radius: 50px;
overflow: hidden;
order: 1;
flex-grow: 1;
}

.card_4_img
{
background:linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('images/choose_tour/1024px/card tour photo-4.png');
}

.card_4_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_4_title h3
{
width: 350px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.card_4_title p
{
width: 350px;
height: 24px;
left: 0px;
top: 59px;
font-size: 17px;
}

.card_5
{
width: 450px;
height: 531px;
left: 53px;
top: 1098px;

border-radius: 50px;
overflow: hidden;
order: 0;
flex-grow: 1;
}

.card_5_content:hover .card_btm
{background-color: #286562;}

.card_5_content:hover .card_5_img
{transform: scale(1.2);}

.card_5_content:active .card_btm
{background-color: #EFA501;}

.card_5_img
{
background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('images/choose_tour/1024px/card tour photo-5.png');
}

.card_5_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_5_title h3
{
width: 350px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.card_5_title p
{
width: 350px;
height: 24px;
left: 0px;
top: 59px;
font-size: 17px;
}

.card_6
{
width: 450px;
height: 531px;
left: 521px;
top: 1098px;
border-radius: 50px;
overflow: hidden;
order: 1;
flex-grow: 1;
}

.card_6_content:hover .card_btm
{background-color: #286562;}

.card_6_content:hover .card_6_img
{transform: scale(1.2);}

.card_6_content:active .card_btm
{background-color: #EFA501;}

.card_6_img
{
background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('images/choose_tour/1024px/card tour photo-6.png');
}

.card_6_title
{
width: 350px;
height: 83px;
left: calc(50% - 350px/2);
bottom: 398px;
}

.card_6_title h3
{
width: 350px;
height: 43px;
left: 0px;
top: 0px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.card_6_title p
{
width: 350px;
height: 24px;
left: 0px;
top: 59px;
font-size: 17px;
}

.compile_top_block
{
width: 458px;
height: 159px;
left: calc(50% - 458px/2);
top: 0px;
}

.compile_top_block h2
{
width: 458px;
height: 73px;
font-size: 59px;
line-height: 124%;
}

.compile_top_block p
{
width: 418px;
height: 56px;
left: 20px;
top: 103px;
font-size: 20px;
flex-grow: 0;
margin: 0px 0px;
}

.compile_form_block
{
width: 918px;
height: 966px;
left: 53px;
top: 259px;
border-radius: 50px;
}

.name_form
{
width: 389px;
height: 104px;
left: 60px;
top: 60px;
flex-grow: 1;
}

.name_form label
{
width: 389px;
height: 28px;
left: 0px;
top: 0px;
font-size: 20px;
}

.name_form input
{
padding: 20px;
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.name_form input.placeholder
{
width: 175px;
height: 28px;
left: 20px;
top: 20px;
font-size: 20px;
}

.dest_form
{
width: 389px;
height: 104px;
left: 469px;
top: 60px;
flex-grow: 1;
}

.dest_form label
{
width: 389px;
height: 28px;
left: 0px;
top: 0px;
font-size: 20px;
}

.dest_form select
{
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.dest_select.selected
{
 position: absolute;
width: 168px;
height: 28px;
left: 20px;
top: 20px;

/* p-normal */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 142%;

/* or 28px */

/* Gray 300 */
color: #A6A6A6;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.email_form
{
width: 389px;
height: 104px;
left: 60px;
top: 197px;
order: 0;
flex-grow: 1;
}

.email_form label
{
width: 389px;
height: 28px;
font-size: 20px;
}

.email_form input
{
padding: 20px;
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.email_form input.placeholder
{
 position: absolute;
width: 177px;
height: 28px;
left: 20px;
top: 20px;
font-size: 20px;
}

.tel_form
{
width: 389px;
height: 104px;
left: 469px;
top: 197px;
order: 1;
flex-grow: 1;
}

.tel_form label
{
 position: absolute;
width: 389px;
height: 28px;
font-size: 20px;
}

.tel_form input
{
padding: 20px;
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.tel_form input.placeholder
{
width: 213px;
height: 28px;
left: 20px;
top: 20px;
font-size: 20px;
}

.date_from_form
{
height: 104px;
left: 60px;
top: 334px;
order: 0;
flex-grow: 1;
}

.date_from_form label
{
width: 389px;
height: 28px;
left: 0px;
top: 0px;
font-size: 20px;
}

.date_from_form input
{
padding: 20px;
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.date_from_form input.placeholder
{
width: 121px;
height: 28px;
left: 20px;
top: 20px;
font-size: 20px;
}

.date_before_form
{
width: 389px;
height: 104px;
left: 469px;
top: 334px;
order: 1;
flex-grow: 1;
}

.date_before_form label
{
width: 389px;
height: 28px;
left: 0px;
top: 0px;
font-size: 20px;
}

.date_before_form input
{
padding: 20px;
width: 389px;
height: 68px;
left: 0px;
top: 36px;
}

.date_before_form input.placeholder
{
width: 121px;
height: 28px;
left: 20px;
top: 20px;
font-size: 20px;
}

.comment_form
{
width: 798px;
height: 188px;
left: 60px;
top: 471px;
order: 3;
}

.comment_form label
{
width: 798px;
height: 28px;
left: 0px;
top: 0px;
font-size: 20px;
}

.comment_form textarea
{
padding: 20px;
width: 798px;
height: 152px;
left: 0px;
top: 36px;
}

.comment_form textarea.placeholder
{
width: 0px;
height: 112px;
left: 20px;
top: 20px;
}

.age_block
{
width: 798px;
height: 64px;
left: 60px;
top: 692px;
order: 4;
}

.age_form
{
width: 798px;
height: 64px;
}

.age_form p
{
width: 798px;
height: 28px;
font-size: 20px;
}

.age_radio
{
width: 166px;
height: 28px;
left: 0px;
top: 36px;
}

.yes_block
{
width: 63px;
height: 28px;
left: 0px;
top: 0px;
}

.yes_block input
{
 position: absolute;
width: 26px;
height: 26px;
left: 0px;
top: 1px;
}

.yes_block label
{
width: 26px;
height: 28px;
left: 37px;
font-size: 20px;
}

.no_block
{
width: 72px;
height: 28px;
left: 94px;
top: 0px;
}

.no_block input
{
width: 26px;
height: 26px;
left: 0px;
top: 1px;
}

.no_block label
{
width: 35px;
height: 28px;
left: 37px;
font-size: 20px;
}

.licence_block
{
justify-content: center;
align-items: center;
width: 546px;
height: 26px;
left: 60px;
top: 789px;
order: 5;
}

.licence_block input
{
width: 26px;
height: 26px;
}

.licence_block label
{
width: 513px;
height: 24px;
left: 37px;
top: 1px;
font-size: 17px;
letter-spacing: -0.01em;
flex-grow: 0;
}

.button_block
{
align-items: flex-start;
width: 500px;
height: 58px;
left: 60px;
top: 848px;
order: 6;
flex-grow: 0;
margin: 0px 0px;
}

.find_btn
{
width: 235px;
height: 58px;
flex-grow: 1;
}

.reset_btn
{
width: 235px;
height: 58px;
left: 265px;
top: 0px;
order: 1;
flex-grow: 1;
}

.feedback_top_block
{
width: 529px;
height: 232px;
left: 247.5px;
top: 0px;
}

.feedback_top_block h2
{
width: 529px;
height: 146px;
left: 0px;
top: 0px;
font-size: 59px;
line-height: 124%;
}

.feedback_top_block p
{
 width: 418px;
height: 56px;
left: 55.5px;
top: 176px;
font-size: 20px;
}

.feedback_card_block
{
flex-direction: row;
width: 1024px;
height: 841px;
left: 0px;
top: 332px;
}

.fb_1
{
justify-content: space-between;
align-items: flex-start;
width: 450px;
height: 841px;
left: 53px;
top: 0px;
border-radius: 50px;
flex-grow: 1;
}

.fb_1 p
{
width: 370px;
height: 308px;
left: 40px;
top: 40px;
font-size: 23px;
line-height: 122%;
}

.fb_1_btm_block
{
width: 370px;
height: 145px;
left: 40px;
top: 656px;
}

.fb_1_btm_text_block
{
width: 295px;
height: 75px;
left: 0px;
top: 70px;
}

.fb_1_btm_text_block h3
{
width: 295px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.fb_1_btm_text_block p
{
width: 295px;
height: 24px;
left: 0px;
top: 51px;
font-size: 17px;
}

.fb_1_btm_block img
{
width: 75px;
height: 75px;
left: 295px;
top: 70px;
}

.fb_2
{
width: 450px;
height: 841px;
left: 521px;
top: 0px;
border-radius: 50px;
order: 1;
flex-grow: 1;
}

.fb_2 p
{
width: 370px;
height: 616px;
left: 40px;
top: 40px;
font-size: 23px;
line-height: 122%;
}

.fb_2_btm_block
{
width: 370px;
height: 145px;
left: 40px;
top: 656px;
}

.fb_2_btm_text_block
{
width: 295px;
height: 75px;
left: 0px;
top: 70px;
}

.fb_2_btm_text_block h3
{
width: 295px;
height: 43px;
left: 0px;
top: 0px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.fb_2_btm_text_block p
{
width: 295px;
height: 24px;
left: 0px;
top: 51px;
font-size: 17px;

}

.fb_2_btm_block img
{
width: 75px;
height: 75px;
left: 295px;
top: 70px;
}

.foto_top_block
{
  width: 723px;
  height: 159px;
  left: 150.5px;
  top: 0px;
  }

.foto_top_block h2
{
width: 723px;
height: 73px;
left: 0px;
top: 0px;
font-size: 59px;
line-height: 124%;
}

.foto_top_block p
{
width: 418px;
height: 56px;
left: 152.5px;
top: 103px;
font-size: 20px;
}

.gallery
{
width: 1024px;
height: 963px;
left: 0px;
top: 259px;
}

.grow1
{
width: 984px;
height: 301px;
left: 20px;
top: 0px;
}

.grow2
{
width: 984px;
height: 301px;
left: 20px;
top: 331px;
}

.grow3
{
  height: 301px;
  left: 20px;
  top: 662px;
}

.img1
{
  position: absolute;
width: 314.67px;
height: 300px;
left: 0px;
top: 0px;
background: url('images/foto/1024px/1.png');
border-radius: 50px;
}

.img2{display: none;}

.img3
{
  position: absolute;
width: 314.67px;
height: 301px;
left: 334.67px;
top: 0px;

background: url('images/foto/1024px/2.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;
}

.img4
{
  position: absolute;
width: 314.67px;
height: 300px;
left: 669.33px;
top: 0px;

background: url('images/foto/1024px/3.png');
border-radius: 50px;
order: 2;
}

.img5
{
  position: absolute;
width: 231px;
height: 301px;
left: 0px;
top: 0px;
background: url('images/foto/1024px/4.png');
border-radius: 50px;
}

.img6
{
  position: absolute;
width: 231px;
height: 301px;
left: 251px;
top: 0px;

background: url('images/foto/1024px/5.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;
}

.img7{display: none;}

.img8
{
  position: absolute;
width: 231px;
height: 301px;
left: 502px;
top: 0px;

background: url('images/foto/1024px/6.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 1;
margin: 0px 0px;
}

.img9
{
  position: absolute;
width: 231px;
height: 301px;
left: 753px;
top: 0px;

background: url('images/foto/1024px/7.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 1;
margin: 0px 0px;
}

.img10
{
  position: absolute;
width: 314.67px;
height: 300px;
left: 0px;
top: 0px;

background: url('images/foto/1024px/8.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 0px;
}

.img11
{

position: absolute;
width: 314.67px;
height: 301px;
left: 334.67px;
top: 0px;

background: url('images/foto/1024px/9.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;
}

.img12
{
  position: absolute;
width: 314.67px;
height: 301px;
left: 669.33px;
top: 0px;

background: url('images/foto/1024px/10.png');
border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 1;
margin: 0px 0px;
}

.stories_top_block
{
width: 615px;
height: 159px;
left: 204.5px;
top: 0px;
}

.stories_top_block h2
{
width: 615px;
height: 73px;
left: 0px;
top: 0px;
font-size: 59px;
line-height: 124%;
}

.stories_top_block p
{
width: 418px;
height: 56px;
left: 98.5px;
top: 103px;
}

.stories_card_block
{
width: 1024px;
height: 1801px;
left: 0px;
top: 259px;
align-self: stretch;
}

.st_card_1
{
width: 918px;
height: 567px;
left: 53px;
top: 0px;
border-radius: 50px;
}

.st_card_1_img
{
background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),url('images/stories/1024px/image 39.png');
}

.st_card_1_top
{
height: 394px;
left: 0px;
right: 0px;
top: 0px;
}

.st_card_1_top h3
{
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 15.23%;
bottom: 73.86%;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.st_card_1_top_p
{
  position: absolute;
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 35.53%;
bottom: 7.61%;
font-size: 20px;
}

.st_card_btm
{
width: 199px;
height: 42px;
left: 40px;
top: 472px;
order: 0;
}

.st_card_btm a
{
  position: absolute;
width: 120px;
height: 28px;
left: 20px;
top: 7px;
font-size: 23px;
line-height: 122%;
}

.st_card_arrow
{
  left: 156px;
  top: 13.5px;
}


.st_card_2
{
position: absolute;
width: 918px;
height: 567px;
left: 53px;
top: 617px;

border-radius: 50px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.st_card_2_img
{
background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('images/stories/1024px/image 46.png');
}

.st_card_2_top
{
height: 394px;
left: 0px;
right: 0px;
top: 0px;
}

.st_card_2_top h3
{
  position: absolute;
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 15.23%;
bottom: 73.86%;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.st_card_2_top_p
{
  position: absolute;
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 35.53%;
bottom: 36.04%;
font-size: 20px;
}

.st_card_3
{
  position: absolute;
width: 918px;
height: 567px;
left: 53px;
top: 1234px;
border-radius: 50px;
}

.st_card_3_img
{
border-radius: 50px;
background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),url('images/stories/1024px/image 3.png');
}

.st_card_3_top
{
  height: 394px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.st_card_3_top h3
{
  position: absolute;
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 15.23%;
bottom: 73.86%;
font-weight: 500;
font-size: 35px;
line-height: 122%;
}

.st_card_3_top_p
{
  position: absolute;
width: 554px;
left: calc(50% - 554px/2 - 122px);
top: 35.53%;
bottom: 36.04%;
font-size: 20px;
}

.cta_img
{
  position: absolute;
width: 370px;
height: 370px;
left: 0px;
top: 0px;
background: url('images/footer/1024px/image 17.png');
border-radius: 50px;
}

.cta_txt_block
{
align-items: flex-start;
width: 371px;
height: 162px;
left: 400px;
top: 104px;
}

.cta_txt_block h3
{
width: 371px;
height: 86px;
left: 0px;
top: 0px;
font-size: 35px;
line-height: 122%;
}

.cta_txt_block p
{
width: 367px;
height: 56px;
left: 0px;
top: 106px;
font-size: 20px;
line-height: 142%;
}

.cta_txt_block a
{
  color: Black;
  text-decoration: none;
}

.cta_txt_block a:hover
{
  border-bottom: 1px solid #1B1F2B
}

.footer_p_block
{
width: 918px;
height: 28px;
left: 53px;
top: 30px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.footer_p_block p
{
  position: absolute;
  width: 222px;
  height: 28px;
  left: 0px;
  top: 0px;
  font-size: 20px;
  line-height: 142%;
}

.footer_soc_block
{
width: 419px;
height: 28px;
left: 499px;
top: 0px;
}

.insta
{
width: 126px;
height: 28px;
left: 0px;
top: 0px;
}

.soc_logo
{
  position: absolute;
width: 26px;
height: 26px;
left: 0px;
top: 1px;
}

.insta_img
{
background:url('images/footer/1024px/insta.png');
}

.insta a
{
  position: absolute;
width: 90px;
height: 28px;
left: 36px;
top: 0px;
font-size: 20px;
line-height: 142%;
text-decoration: none;
}

.insta a:hover
{border-bottom: none;}

.fb
{
align-items: flex-start;
width: 120px;
height: 28px;
left: 151px;
top: 0px;
}

.fb_img
{
background:url('images/footer/1024px/fb.png');
}

.fb a
{
  position: absolute;
width: 84px;
height: 28px;
left: 36px;
top: 0px;
font-size: 20px;
line-height: 142%;
text-decoration: none;
}

.fb a:hover
{border-bottom: none;}

.vk
{
align-items: flex-start;
width: 123px;
height: 28px;
left: 296px;
top: 0px;
}

.vk_img
{
background:url('images/footer/1024px/vk.png');
}

.vk a
{
width: 87px;
height: 28px;
left: 36px;
top: 0px;
font-size: 20px;
}

.vk a:hover
{
  border-bottom: none;
}
